/* .about {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  opacity: 0.9;
  /* top: 10;
  left: 0; */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* 
}

Caption{
    text-align: center;

}  */

