

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {

  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
}

/* .navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
} */

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.image{
  max-width: 29%;
  margin: -14%;

}

.title{
  padding-left: 19%;
  margin: -9%; 
  font-size: 14;
}

link{
  text-decoration: none;
}
