ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
}

li {
  font-size: 1.25rem;
  text-decoration: none;
}

.navBar {
  margin-bottom: 0rem;
  padding: 1.5rem 3rem;
  background-color: rgb(195, 214, 210, 93);
  text-decoration: none;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-bottom: 2rem;
  overflow: hidden;
  border: transparent;
  opacity: 10;
  
}


.navBar button:hover {
  cursor: pointer;
  text-decoration: none;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.image {
  max-width: 25%;
  margin: -13%;
  margin-top: -10%;
}

.title {
  padding-left: 14%;
  margin: -9%;
  margin-left: -36%;
  font-size: 41px;
  padding-left: 14%;
  color: black;
  font-family: 'Indie Flower', cursive;
  margin-top: -5%;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;

  top: 3px;
  margin-left: 400px;
  margin-top: 20px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* .navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
} */

.navbarButton {
  background-color: transparent;
  border: none;
  
}

.navbarButton:hover {
  opacity: 0.3;
}

.navbarLoginButton::after {
  content: "/";
  position: absolute;
  right: 375px;
  line-height: px;
  color: #333;
}


.navbarLogOutButton {
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  font-size: 25px;
  margin-left: -203%;
  padding: 27%;
  opacity: 2.4;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -8%;
  margin-bottom: -25%;
}

.navbarLogOutButton:hover {
  opacity: 0.3;
}

.navbarLogOutButton::after {
  content: "/";
  position: absolute;
  right: 404px;
  line-height: px;
  color: #333;
}

.navbarRegisterButton {
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  font-size: 25px;
  opacity: 2.4;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.navbarRegisterButton:hover {
  opacity: 0.3;
}


.loginPopUpButton{
  background-color: black;
  color: white;
  padding:4%;
  margin:-2%;
  width: 36%;
  font-size: 15px;
}