/* @import url(./Hands.jpg);
.navBar{
display: flex;
align-items: center;
min-height: 100vh;
justify-content: flex-start;
flex-direction: column;
padding: 50px;
} */
/* .navbar-image{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    
 } */