.eventForm-btn{
    background-color: black;
    color: white;
    padding: 0.5%;
    margin:1%;
    margin-top:0%
}

.eventForm-btn:hover{
    background-color:rgb(248, 245, 245);
        color: black;}