/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"); */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
/* 
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  all: initial;
}

p {
  font-size: 20px;
} */

/* button { */
/* background-color: red; */
/* border: 2px solid steelblue; */
/* color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
} */

/* button:hover {
  cursor: pointer;
  /* color: rgb(248, 4, 4);
  background-color: rgb(226, 12, 12); */
/* } */
/* 
.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
} */

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  background-color: rgb(215, 209, 209);
  padding: 26%;
  margin: -49%;
  padding-right: 53%;
  padding-left: 5%;
  margin-top: -21%;
}

.form input {
  display: block;
  width: 150%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  position: relative;
  background-color: rgba(214, 203, 203, 0.3);
  transition: 0.3s all;
}

.form input:hover {
  background-color: rgba(176, 166, 166, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

#hands {
  margin-top: -10%;
  margin-bottom: -35%;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: centre;
  opacity: 0.7;
  padding-top: 0%;

}
