.popup{
    position: sticky; 
    top: 0;
    left: 0;
    width: 50%;
    height: 30vh;
    background-color: transparent;

    display: flex; 
    justify-content: center;
    align-items: center;
}