.popup {
  /* position: a; */
  top: 0;
  left: 0;
  width: 30%;
  height: 40vh;
  background-color: transparent;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  justify-content: flex-end;
  align-items: center;
}

.close-btn {
  background-color: black;
  color: white;
}

.close-btn:hover {
  background-color: rgb(248, 245, 245);
  color: black;
}

.popup input {
  display: block;
  width: 150%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  position: relative;
  background-color: transparent;
  transition: 0.3s all;
  font-weight: bold;
}

.popup input:hover {
  background-color: rgba(176, 166, 166, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
